body{
    margin: 10px;
    background-color: rgb(222, 232, 235);
    padding: 20px;
    width: 1200px;
}

main{
    max-width: 1200px;
    background-color: rgb(125, 129, 138);
    margin: 20px auto;
}

img {
    max-width: 100%;
}

.Почему-горы-красивые {
    background-color: blueviolet;
}